/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********** MY OWN CSS STARTS HERE!!! **********/

/*body {
}

main {

}
*/

header {
    background-color: #FBC226;
    /* May change from auto */
    width: auto;
}

nav ul li a {
    color: #880000;
    text-decoration: none;
    line-height: 55px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    text-align: center;
    padding-bottom: 15px;

}

h1 {
    color: #880000;
    font-family: Georgia, Times New Roman, Times, serif;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 2.3rem;

}

h2 {
    color: #880000;
    text-align: center;
    padding: 45px;
    font-size: 1.6rem;
}

p {
    padding: 20px;
    font-family: Arial, 'Helvetica', sans-serif;
    line-height: 22px;
    color: #707070;

}

.website-logo {
    width: 140px;
    height: 110px;
    padding: 20px;
}

#home-banner,
#about-banner {
    max-width: 100%;
    height: auto;
}

/* This is the CSS for the hollow yellow dots at the bottom of the website banner images. I created these dots 
by setting a border radius of 50% on a square. Unlike with the solid dots, I set a border width of 3px and changed
the background color property to just color to make the dots hollow.*/
.dot {
    padding: 3px;
    height: 18px;
    width: 18px;
    color: #FBC226;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
}

/* This is the CSS for the solid yellow dots at the bottom of the website banner images. I created these dots 
by setting a border radius of 50% on a square. */
.dot-solid {
    padding: 3px;
    height: 25px;
    width: 25px;
    background-color: #FBC226;
    border-radius: 50%;
    display: inline-block;
}

#welcome-image {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-top: 0;
    padding: 20px;
}

/* This is the CSS for all the sites images except for the welcome and banner images. I have used a max width of 100% 
and set the height to auto as a way to make the images responsive. */
#stop-mute-image,
#conductor-image,
#symphony-orchestra-image,
#classical-music-image,
#holton-h179-image,
#case-image,
#mouthpiece-image,
#portrait-me,
#my-mission-image,
#my-vision-image {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;

}

#mouthpiece-image {
    padding-bottom: 20px;
}

/* This css code controls all of the text underneath the images on the home page. I chose to use position absolute and 
a left value of 160 px so I could position the text over and in the center bottom of each image. */
#stop-mute-text,
#conductor-text,
#symphony-orchestra-text,
#classical-music-text,
#holton-h179-text,
#case-text,
#mouthpiece-text {
    position: absolute;
    display: inline;
    left: 160px;
    font-family: Arial, 'Helvetica', sans-serif;
    font-weight: 300;
    color: #880000;
    text-align: center;

}


.learn-more-about {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 13px;
    width: 75px;
    background-color: #FBA126;
    border-style: none;
    margin: 25px;
    font-size: 0.6rem;
    border-radius: 3px;
    width: 90px;
    position: relative;
    top: 50%;
    left: 40%;

}

/* This is the styling for one of the learn more buttons. This one is styled a bit differently because it is
aligned to the left of the page where as the buttons on the about page are aligned to the center. */
.learn-more-home {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 13px;
    width: 75px;
    background-color: #FBA126;
    border-style: none;
    margin: 25px;
    font-size: 0.6rem;
    border-radius: 3px;
    width: 90px;
}


.portfolio-button {
    font-weight: bold;
    padding: 13px;
    margin-left: 145px;
    width: 200px;
    background-color: #FBA126;
    border-style: none;
    border-radius: 3px;
    font-size: 0.6rem;
    text-align: center;

}

/* The portfolio-btn-div is the div surrounding the button that takes you to my sites portfolio page. I added this CSS
in order to add the top and bottom border you see around the button. */
.portfolio-btn-div {
    border-bottom: 1px solid #707070;
    border-top: 1px solid #707070;
    padding: 20px;
}

.instagram-icon,
.twitter-icon,
.facebook-icon {
    width: 56px;
    height: 56px;
    padding: 20px;
    position: relative;
    bottom: -40%;
    right: 20%;
}

#copyright-line {
    color: #880000;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;

}

/* This CSS styles the footer. I used flex in footer in order to arrange all of the social media icons horizontally. */
footer {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBC226;
    height: 200px;
    /* May change from auto */
    width: auto;

}