/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************** My own CSS starts here **********/

main {
	background-color: #B86BAC;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: #2AE22A;
}

h1 {
	font-family: s;
	font-size: 3.4rem;
	padding: 20px;
	display: none;
}

h2 {
	font-size: 2.1rem;
	text-align: center;
	padding: 50px;
	font-weight: 800;
	letter-spacing: 1.5px;
}

h3 {
	font-size: 1rem;
	text-align: left;
	padding: 20px;
	font-weight: 600;
	letter-spacing: 1.5px;

}

h5 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding: 20px;
	font-weight: 400;
	letter-spacing: 1.4px;
	font-size: 0.8rem;
}

/* The nav ul li a controls the styling of the links in the sites nav bar. I did this in order to be able to properly adjust the padding,
font, font size etc. of the nav links */
nav ul li a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: black;
	font-size: 1.4rem;
	border-left: 90px;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;


}

/* This is a hover pseudo class which I used on the the links in the sites nav bar. I used this as a way to alert the 
user of what page he/she is on by turning the link white when his/her mouse hovers over it. */
nav ul li a:hover {
	color: white;

}

.page-links {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 220px;
	line-height: 50px;
	text-align: center;
	width: 485px;

}

/* This css code tagets all the nav links. I did this in order to create borders (the lines between each nav link) seperating each link
just like in the XD mockup */
.home-link,
.about-us-link,
.contact-link,
.faq {
	border-bottom: 2px solid #707070;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #00AEEF;

}

.home-link {
	padding-top: 8px;
}

.shopping-cart {
	width: 60px;
	padding: 10px;
	height: 60px;
	position: absolute;
	right: 40px;
	top: 65px;
}

.moodatorium-logo {
	padding-bottom: 20px;
	width: 200px;
	height: 200px;
	position: absolute;
	right: 145px;
	top: 5px;


}

#search-field {
	border-radius: 12px;
	border-width: 2px;
	border-color: #707070;
	padding: 7px;
	margin: 15px;
	width: 410px;
	position: absolute;
	top: 170px;
	left: 10px;

}

/* This bit of CSS code controls the "magnifying glass" search button in the search bar. I chose to include this 
in order to specify the position, padding, and color of the search button. */
.fas {
	padding: 20px;
	color: #707070;
	position: absolute;
	top: 175px;
	left: 395px;

}

/* The following two sections of css code targets the entire section on the homepage containing the ice-cream cone images.
I have decided to use margin and padding properties for this section as a way to properly align all the images together. */
#banana-image,
#grape-image,
#pineapple-image,
#walnut-image,
#watermelon-image,
#orange-image {
	margin-bottom: -260px;
	padding-right: 250px;
	width: 250px;
	height: 270px;

}

#mango-image,
#apple-image,
#strawberry-image,
#raspberry-image,
#lime-image,
#peach-image {
	margin-bottom: -120px;
	padding-left: 230px;
	width: 250px;
	height: 270px;

}

/*.flavours-section {
	display: flex;
	flex-direction: column;
	text-align: center;


}
 */

/* This bit of code targets the entire contact form on the contact page. My code here provides the padding sourounding 
 all elements in the contact form. I chose to use this in order to provide adequete padding around all the elements. */
.contact-info {
	padding: 50px;


}

.about-us-section,
.our-team-section {
	overflow: hidden;
}

.our-mission-image,
.our-vision-image {
	padding: 20px;
}

.mission-text,
.vision-text {
	padding: 20px;
}

.learn-more-button {
	margin: 20px;
	padding: 8px;
	width: 100px;
}

.samantha-thompson,
.micheal-higgins,
.robert-johnson {
	padding: 20px;
}

#about-samantha,
#about-micheal,
#about-robert {
	padding: 20px;
}

#yourname,
#youremail,
#thesubject {
	width: 375px;
	height: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#yourmessage {
	width: 375px;
	height: 120px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#submit-button {
	padding: 8px;
	width: 100px;
}

/* This bit of code targets the footer. I have chosen to use both flex and text align center in order to properly align the copyright 
info like in the XD file. */
footer {
	text-align: center;
	display: flex;
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	background-color: #A0A0A0;
}

#copyright-line {
	padding: 17px;
	font-size: 0.75rem;

}

.facebook-icon,
.twitter-icon,
.instagram-icon {
	width: 30px;
	height: 30px;
	padding: 8px;
}

.youtube-icon {
	width: 43px;
	height: 30px;
	padding: 8px;
}