/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********** My own CSS starts here **********/

/* Site container */
.container {
    max-width: 1200px;
}

/* Setting the web sites font to "Open Sans" */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/********** Site Nav Section **********/

/* CSS controling the site header */
.site-header {
    background-color: #222;
    padding: 15px;
}

/* Image with three stars in it at the top of the page */
.company-logo {
    width: 150px;
    border-right: 845px solid #c78c06;
    border-bottom: 90px solid #c78c06;
    display: inline-block;

}

.site-nav ul li a {
    text-decoration: none;
    padding: 0;
    margin-bottom: 40px;
    display: block;
    color: #c78c06;


}

/* Navigation list containing links to other pages. */
.nav-list {
    padding-left: 500px;
}

.home-nav {
    display: inline;
    position: relative;
    padding-bottom: 60px;
}


/* Id for styling the search bar in the nav */
#search {
    height: 35px;
    width: 940px;
    padding-left: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}

/* class for styling the search button in the nav */
.btn {
    color: #c78c06;
    border: 0.2px solid #c78c06;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 8px;


}

/* "Search", placeholder text next to the search bar in the nav area.  */
::placeholder {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(79, 79, 79);
}

/********** Site Header Section **********/
.main-banner {
    width: 1029px;

}

h1 {
    font-size: 4.6rem;
    font-weight: 700;
    color: #fff;
    display: inline;
    position: absolute;
    padding: 20px;
    line-height: 110px;
    bottom: 20px;

}

.about-us-h2 {
    position: absolute;
    top: 1910px;
    padding: 20px;
    font-size: 3.2rem;
    font-weight: 700;
}


.welcome-text {
    position: absolute;
    color: #fff;
    display: inline;
    bottom: 20px;
    top: 920px;
    padding: 20px;
    padding-right: 220px;
    line-height: 25px;

}

.connect-withUs {
    font-size: 1.5rem;
    position: absolute;
    display: inline;
    background-color: #c78c06;
    height: 100px;
    width: 260px;
    margin: 20px;
    bottom: 20px;
    top: 985px;
    border: none;
}

/********** About Us Section **********/

.about-us-image {
    width: 990px;
    height: 500px;
    padding-top: 0;
    border: 20px solid #ffe6ac;
    border-bottom: 285px solid #ffe6ac;

}

/* First paragraph of text in the "About Us" section */
.about-us-p1 {
    position: absolute;
    top: 2000px;
    margin: 20px;
    line-height: 25px;

}

/* Second paragraph of text in the "About Us" section */
.about-us-p2 {
    position: absolute;
    top: 2070px;
    padding-bottom: 10px;
    margin: 20px;
    line-height: 25px;

}

/********** Our Services Section **********/

/* Our Services */
.service-h2 {
    top: 1910px;
    padding-bottom: 10px;
    padding-top: 25px;
    font-size: 3.2rem;
    font-weight: 700;
}

.our-services {
    padding: 20px;
}

/* h3 tag "Digital Transformation" */
.digital-transformation {
    font-size: 2.4rem;
    font-weight: 700;
    position: absolute;
    top: 2950px;
    margin: 20px;
    padding-top: 35px;
}

/* h3 tag "Marketing" */
.marketing {
    font-size: 2.4rem;
    font-weight: 700;
    position: absolute;
    top: 3930px;
    margin: 20px;
    padding-top: 35px;
}

/* h3 tag "Video Production" */
.video-production {
    font-size: 2.4rem;
    font-weight: 700;
    position: absolute;
    top: 4910px;
    margin: 20px;
    padding-top: 35px;
}

/* h3 tag "Web Development" */
.web-development {
    font-size: 2.4rem;
    font-weight: 700;
    position: absolute;
    top: 5890px;
    margin: 20px;
    padding-top: 35px;
}

/* h3 tag "Print" */
.print {
    font-size: 2.4rem;
    font-weight: 700;
    position: absolute;
    top: 6865px;
    margin: 20px;
    padding-top: 35px;
}

/* Image alignment, resizing, and borders */
.digital-image,
.marketing-image,
.video-image,
.web-image,
.print-image {
    width: 988px;
    padding-top: 20px;
    border-bottom: 300px solid #ffe6ac;

}


/*  p tag "Digital Transformation" area, text */
#digital-text {
    position: absolute;
    top: 3050px;
    margin: 20px;
    line-height: 25px;
}

/* p tag "Marketing" area, text */
#marketing-text {
    position: absolute;
    top: 4030px;
    margin: 20px;
    line-height: 25px;
}

/*  p tag "Video Production" area, text */
#video-text {
    position: absolute;
    top: 5005px;
    margin: 20px;
    line-height: 25px;
}

/* p tag "Web Development" area, text */
#web-text {
    position: absolute;
    top: 5980px;
    margin: 20px;
    line-height: 25px;
}

/* p tag "Print" area, text */
#print-text {
    position: absolute;
    top: 6970px;
    margin: 20px;
    line-height: 25px;
}

/* Button under "Digital Transformation". */
.digital-plans {
    font-size: 1.5rem;
    position: absolute;
    display: inline;
    background-color: #222;
    color: #fff;
    padding: 35px;
    left: 42px;
    bottom: -2275px;
}

/* Button under "Marketing". */
.marketing-plans {
    font-size: 1.5rem;
    position: absolute;
    display: inline;
    color: #fff;
    padding: 35px;
    background-color: #222;
    left: 42px;
    bottom: -3263px;
}

/* Button under "Video Production". */
.video-plans {
    font-size: 1.5rem;
    position: absolute;
    display: inline;
    color: #fff;
    padding: 30px;
    background-color: #222;
    left: 42px;
    bottom: -4250px;
}

/* Button under "Web Development". */
.web-plans {
    font-size: 1.5rem;
    position: absolute;
    display: inline;
    color: #fff;
    padding: 30px;
    background-color: #222;
    left: 42px;
    bottom: -5225px;
}

/* Button under "Print". */
.print-plans {
    font-size: 1.5rem;
    position: absolute;
    display: inline;
    color: #fff;
    padding: 30px;
    background-color: #222;
    left: 42px;
    bottom: -6210px;
}

/********** Our Vision Section **********/


/* Background image of the "Our Vision section */
.vision-image {
    width: 1030px;
    height: 550px;
    margin-top: 25px;

}

.our-vision-h3 {
    font-size: 2.4rem;
    font-weight: 700;
    position: absolute;
    margin: 20px;
    padding-left: 20px;
    top: 7300px;
    color: #fff;
}

/* p tag "Our Vision" area, text */
.our-vision-text {
    position: absolute;
    margin: 20px;
    top: 7500px;
    color: #fff;
    line-height: 25px;
}

/* button at the bottom of the Our Vision section. */
.learn-more-btn {
    font-size: 1.5rem;
    position: absolute;
    display: inline;
    background-color: rgb(21, 21, 69);
    color: #fff;
    height: 100px;
    width: 220px;
    margin: 20px;
    top: 7600px;
    border: 1px solid #c78c06;
}